/Biblioteca_Central_UNCo-proyecto/Biblioteca_Central_UNCo/nbproject/private/
**/target/
/target/
/target/
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
*.xml

**/nbproject/private/
*/nbproject/Makefile-.mk
*/nbproject/Package-.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/